@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';




* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

.divider {
	height: 1px;
	width: 150px;
	background-color: $main-color;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 20px;
}

.subheader {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 23px;
	text-align: center;
	&__descr {
		font-size: 21px;
		line-height: 24px;
		font-weight: 300;
		text-align: center;
		&_work {
			width: 880px;
			margin: 0 auto;
		}
		&_price {
			width: 700px;
			margin: 0 auto;
		}
	}
	&_agent {
		color: #fff;
		margin-top: 50px;
	}
}

.card-head {
	font-size: 16px;		
	line-height: 16px;
	font-weight: 900;
	color: $main-color;
	&_work {
		text-align: center;
		margin-top: 25px;
	}
}

.card-text {
	font-size: 14px;	
	font-weight: 300;
	padding-top: 10px;
	line-height: 22px;
	&_work{
		text-align: center;
	}
	&_price {
		line-height: 20px;
		margin-top: 15px;
	}
}

@import 'blocks/btn';
@import 'blocks/promo';
@import 'blocks/benefits';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';

