.promo {
	min-height: 100vh;
	position: relative;
	background: url('../img/main_bg.jpg') no-repeat 50%/cover;
	padding-top: 205px;
	&__title {
		width: 535px;
		margin-top: 10px;
	}
	&__btns {
		margin-top: 25px;
		display: flex;
		width: 250px;
		justify-content: space-between;
		align-items: center;
	}
	&__link {
		color: #000;
		font-weight: bold;
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
	&__subtitle {
		position: relative;
		padding-left: 10px;
		z-index: 2;
		@include before_circle;
	}
}

.hamburger {
	position: absolute;
	top: 20px;
	right: 30px;
	display: flex;
	height: 21px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;
	span {
		display: block;
		height: 3px;
		width: 30px;
		background: #151812;
	}
	span.long {
		width: 36px;
	}
}