.benefits {
	background-color: #f3f3f3;
	padding: 50px 0 50px 0;
	
	&__wrapper {
		padding-top: 25px;
		padding-right: 15px;
		display: grid;
		grid-template: minmax(70px, auto) / repeat(2, 530px);
		grid-auto-rows: minmax(70px, auto);
		row-gap: 30px;
		column-gap: 55px;
		justify-content: center;
	}
	
	&__item {
		display: grid;
		grid-template: auto / 60px auto; 
		column-gap: 20px;	
	}
	&__img {
		img {
			// width: 100%;
			// object-fit: contain;
		}
		
	}
	
	
}