.promo {
	color: #fff;
	background: url('../img/bg.png') center center / cover no-repeat;
	padding-top: 23px;
	min-height: 680px;
	header {
		display: flex;
		justify-content: space-between;
		height: 100px;
	}
	.logo {
		height: 100px;
		img {
			height: 100%;
		}

	}
	.menu {
		margin-bottom: 0;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		&__item {
			padding: 0 10px 0 10px;
			border-right: 1px dotted #858891;
			font-size: 15px;
			position: relative;
			&:last-child {
				border-right: 0;
			}
			&:hover {
				cursor: pointer;
				color: $main-color;
				&:after {
					content: "";
					position: absolute;
					height: 1px;
					background-color: $main-color;
					width: 90%;
					left: 50%;
					transform: translateX(-50%);
					bottom: 0;
				}
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;

	}
	&__questions {
		font-size: 14px;
		font-weight: 300;
	}
	&__call {
		font-size: 19px;
		font-weight: 900;
		color: #fff;
		&:hover {
			color: $main-color;
			text-decoration: none;
		}
	}
}