* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	width: 1140px;
	margin: 0 auto;
	padding: 39px 0 62px 0;
}

.promo {
	height: 800px;
	background:  url("../img/bg/main_bg.png") center center/cover no-repeat; 
}

.logo .logo-img {
	display: block;
	margin: 0 auto;

}

.logo .logo-text {
	font-family: Roboto;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 14px;
}

.title {
	color: #F9BF3B;
	font-family: Roboto;
	font-weight: 900;
	font-size: 41px;
	line-height: 41px;
	text-align: center;
	text-transform: uppercase;
}

.simple .title-big {
	font-family: Roboto;
	font-weight: 900;
	font-size: 80px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 21px;
}

h1 {
	margin-top: 53px;
}

h2.title {
	margin-top: 21px;
}

.promo .promo-text {
	margin-top: 23px;
	padding: 0 13px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 21px;
	line-height: 28px;
	text-align: center;
	color:  #fff;
}

.promo .promo-text span {
	font-family: Roboto;
	font-weight: 700;
	font-size: 21px;
	line-height: 28px;
	text-align: center;
	color: #F9BF3B;
}

.promo .promo-btn, .gift .gift-btn {
	display: block;
	margin: 0 auto;
	margin-top: 73px;
	width: 313px;
	height: 72px;
	border: none;
	border-radius:  5px;
	background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
	font-family: Roboto;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 400;
	cursor: pointer;	
	outline: none;
}

.gift .gift-btn {
	margin-top: 50px;
}

.more .more-text {
	margin-top: 73px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	color:  #fff;
}

.more .more-img {
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}

.waiting {
	min-height: 604px;
	background-color: #efefef;
	padding: 85px 0 75px;
}

.waiting .waiting-header, .finish .finish-header, .first-webinar .first-webinar-header {
	font-family: Roboto;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #252525;
}

.first-webinar .first-webinar-header {
	margin-top: 35px;
}

.waiting .waiting-divider, .finish .finish-divider {
	width: 220px;
	height: 7px;
	background: #F9BF3B;
	margin: 0 auto;
	margin-top: 18px;

}

.finish .finish-header {
	color: #fff;
}

.waiting .waiting-subheader  {
	font-family: Roboto;
	margin-top: 17px;
	font-weight: 400;
	font-size: 23px;
	text-align: center;
	color: #4A4A4A;
}




.waiting .waiting-wrapper {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
}

.waiting .waiting-wrapper .waiting-item {
	width: 340px;
	text-align: center;
	color: #4A4A4A;
}

.waiting .waiting-wrapper .waiting-item .waiting-descr {
	margin-top: 26px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
}

.waiting .waiting-wrapper .waiting-item .waiting-img {
	width: 100%;
}

.optimization {
	min-height: 550px;
	padding: 47px 0 0;
}


.optimization .optimization-header, .first-webinar .first-webinar-header3 {
	margin-left: 391px;
	font-family: Roboto;
	font-weight: 900;
	font-size: 30px;
	color: #299CBD;
	text-transform: uppercase;
}

.first-webinar .first-webinar-header3 {
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
}

.optimization .optimization-text {
	margin-top: 25px;
	margin-left: 391px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 17px;
	line-height: 27px;
	color: #4A4A4A;
}

.optimization .optimization-text span {
	font-weight: bold;
	font-size: 17px;
	line-height: 27px;
}

.optimization .optimization-img {
	position:  absolute;
	top:  48px;
	left: -240px;
	z-index: -1;
}

.finish {
	min-height: 447px;
	padding: 86px 0 79px 0;
	background: url('../img/bg/second_bg.png') center center/cover no-repeat;
}

.finish .finish-wrapper {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.finish .finish-wrapper .finish-item {
	width: 220px;

}

.finish .finish-wrapper .finish-round {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 118px;
	height: 118px;
	background: #B4E2FF;
	border-radius: 50%;
}

.finish .finish-wrapper .finish-item .finish-descr {
	margin-top: 25px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #efefef;

}

.gift {
	min-height: 630px;
	background-color: #efefef;
	padding: 88px 0;
}

.gift .gift-img {
	display: block;
	margin: 0 auto;
}

.gift .gift-subheader, .first-webinar .first-webinar-subheader {
	margin-top: 45px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 30px;
	line-height: 43px;
	text-align: center;
	color: #252525;
}

.first-webinar .first-webinar-subheader {
	margin-top: 5px;
	font-size: 23px;
}

.first-webinar {
	min-height: 510px;
	padding: 45px 0 0;
}

.first-webinar .first-webinar-img {
	display: block;
	margin: 0 auto;
}

.footer {
	background-color: #1a1a1a;
	text-align: center;
	
}

.footer .footer-link, .footer .footer-text {
	font-family: Roboto;
	font-weight: 300;
	font-size: 15px;
	color: #888888;
}

.footer .footer-text {
	margin-top: 5px;
}
 .footer a {
 	font-family: Roboto;
	font-weight: 300;
	font-size: 15px;
	color: #888888;
	cursor: pointer;

 }